* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lexend", sans-serif;
  font-family: "Lexend Deca", sans-serif;
  text-decoration: none;
  list-style: none;
}

:root {
  --lightblue01: #83a2be;
  --lightblue02: #94b8d1;
  --lightblue03: #eaf1f6;
  --lightblue04: #f3f6fa;
}

.h-f-container {
  width: 95%;
  margin: auto;
  padding: 3rem 0;
}

.container {
  width: 85%;
  margin: auto;
}

.btn {
  transition: all 0.2s ease-in;
  cursor: pointer;
}

.btn a {
  padding: 0.75rem 1.875rem;
  border-radius: 0.625rem;
  background-color: var(--lightblue02);
  font-size: 1.125rem;
  font-weight: 500;
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.btn:hover {
  transform: translateY(-4px);
}

/* ======== Start Header =========== */
.header-area {
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 9990;
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.103);
}

.header-area .nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-area .nav-bar .logo img {
  width: 80%;
}

.header-area .nav-bar .nav-list li {
  display: inline-block;
  margin-left: 0.625rem;
}
.header-area .nav-bar .nav-list a {
  font-size: 1.125rem;
  font-weight: 500;
  color: black;
  border-radius: 0.625rem;
  text-transform: capitalize;
  text-decoration: none;
  padding: 0.75rem 1.25rem;
  transition: all 0.3s ease-in;
}

.header-area .nav-bar .nav-list a:hover {
  background-color: var(--lightblue03);
}

.header-area input,
label {
  display: none;
}

@media (max-width: 991px) {
  .header-area .nav-bar {
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  .nav-bar .btn {
    opacity: 0;
    transition: all 0.3s ease-in;
  }

  .header-area label {
    display: block;
  }

  .h-f-container {
    width: 95%;
    padding: 1rem 0;
  }

  .header-area .nav-bar .logo img {
    width: 60%;
  }
  .header-area .nav-bar .nav-list {
    position: sticky;
    display: none;
    top: 0px;
    left: 0;
    z-index: 999;
    background-color: white;
    width: 100%;
    opacity: 0;
    transition: all 0.3s ease-in;
    padding-bottom: 60px;
  }

  .nav-bar #inpt-btn:checked ~ .nav-list {
    opacity: 1;
    display: block;
  }

  .header-area .nav-bar .btn {
    position: absolute;
    top: 82%;
    left: 2.81rem;
    z-index: 999;
  }
  .nav-bar #inpt-btn:checked ~ .btn {
    opacity: 1;
  }

  label .hamburger-menu {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  label .hamburger-line {
    position: absolute;
    width: 35px;
    height: 5px;
    background-color: black;
    z-index: 9999;
    transition: all 0.3s ease-in;
  }

  label .hamburger-line:before,
  label .hamburger-line:after {
    content: "";
    position: absolute;
    display: block;
    background-color: black;
    width: 100%;
    height: 100%;
    z-index: 9999;
    transition: all 0.3s ease-in;
  }

  label .hamburger-line:before {
    top: 12px;
  }
  label .hamburger-line:after {
    top: -12px;
  }

  .nav-bar #inpt-btn:checked + label .hamburger-line {
    transform: rotate(45deg);
  }

  .nav-bar #inpt-btn:checked + label .hamburger-line:after {
    transform: rotate(90deg);
    top: 0;
  }

  .nav-bar #inpt-btn:checked + label .hamburger-line::before {
    transform: rotate(90deg);
    top: 0;
  }

  .header-area .nav-bar .nav-list li {
    display: block;
    margin: 1.875rem 0px;
  }
  .header-area .nav-bar .nav-list a {
    font-size: 1.125rem;
    padding: 1.875rem 2.81rem;
  }

  .header-area .nav-bar .nav-list a:hover {
    background-color: white;
  }
}

@media (max-width: 575px) {
  .h-f-container {
    padding: 0.5rem 0;
  }

  .header-area .nav-bar .btn {
    left: 1.25rem;
  }

  .header-area .nav-bar .nav-list {
    top: 10%;
  }
  .header-area .nav-bar .nav-list a {
    padding: 0.625rem 1.25rem;
  }

  .header-area .nav-bar .btn {
    position: absolute;
    top: 19.4rem;
  }

  label .hamburger-line {
    height: 3.5px;
    width: 30px;
  }
  label .hamburger-line:before {
    top: 10px;
  }
  label .hamburger-line:after {
    top: -10px;
  }
}

/* ======== End Header =========== */

/* ======== Start cover area =========== */

.cover-area .cover-wrapper {
  position: relative;
  background-image: url(../img/clouds.jpeg);
  height: 80vh;
  width: 98%;
  margin: auto;
  background-size: cover;
  background-repeat: no-repeat;
}

.cover-area .cover-title {
  width: 59%;
  display: block;
  padding: 3.125rem 0;
  margin-left: 4.375rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.cover-area .cover-title h2 {
  width: 70%;
  font-size: 3rem;
  font-weight: 400;
  color: white;
  margin-top: 2.5rem;
}

.cover-area .cover-title h1 {
  width: 30%;
  font-size: 6rem;
  font-weight: 700;
  color: white;
}

.cover-area .cover-img {
  width: 30%;
  position: absolute;
  top: 8.125rem;
  right: 15rem;
}

.cover-area .cover-img img {
  width: 120%;
}

.cover-area .btn {
  position: absolute;
  top: 18.75rem;
  left: 12.5rem;
}

.cover-area .btn a {
  padding: 0.75rem 2.5rem;
  font-size: 1.25rem;
  font-weight: 500;
  color: white;
  background-color: black;
  text-decoration: none;
}

@media (max-width: 991px) {
  .cover-area .cover-wrapper {
    height: 60vh;
    width: 95%;
  }

  .cover-area .cover-title {
    padding: 2rem 0;
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    text-align: center;
    margin: 0;
  }

  .cover-area .cover-title h2 {
    width: 95%;
    font-size: 3rem;
    text-align: center;
  }

  .cover-area .cover-title h1 {
    font-size: 4rem;
    text-align: center;
  }
  .cover-area .cover-img {
    width: 60%;
    position: absolute;
    top: 270px;
    left: 50%;
    transform: translate(-50%, 10%);
  }

  .cover-area .cover-img img {
    width: 100%;
  }

  .cover-area .btn {
    height: 20%;
    width: 90%;
    position: absolute;
    left: 50%;
    top: 190px;
    transform: translate(-50%, -50%);
    cursor: pointer;
  }

  .cover-area .btn a {
    display: block;
    width: 30%;
    margin: auto;
    margin-top: 15%;
    text-align: center;
  }
}

@media (max-width: 757px) {
  .cover-area .cover-title {
    justify-content: flex-end;
  }

  .cover-area .cover-img {
    top: 250px;
  }

  .cover-area .btn {
    top: 260px;
  }

  .cover-area .btn a {
    width: 50%;
  }
}

@media (max-width: 575px) {
  .cover-area .cover-wrapper {
    height: 60vh;
    width: 100%;
  }

  .cover-area .cover-title {
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin-left: 0px;
  }

  .cover-area .cover-title h2 {
    width: 80%;
    font-size: 2.2rem;
    text-align: center;
  }

  .cover-area .cover-title h1 {
    width: 80%;
    font-size: 2.8rem;
    text-align: center;
  }

  .cover-area .cover-img {
    top: 65%;
    width: 70%;
  }

  .cover-area .btn {
    top: 50%;
    width: 90%;
  }
  .cover-area .btn a {
    padding: 0.75rem 1rem;
    font-size: 1rem;
  }
}

/* ======== End cover area =========== */
/* ======== Start brands animation area =========== */
.brands-wrapper {
  margin: 5rem auto;
  overflow: hidden;
}

.cover-area .cover-brands {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  transform: translateX(-100vw);
  animation: move 5s linear 1s infinite;
}
.cover-area .cover-brands img {
  width: 7%;
}

@keyframes move {
  from {
    transform: translateX(-100vw);
  }
  to {
    transform: translateX(100vw);
  }
}

@media (max-width: 991px) {
  .brands-wrapper {
    margin-top: 15rem;
  }

  .cover-area .cover-brands img {
    width: 20%;
  }
}
@media (max-width: 575px) {
  .cover-area .cover-brands {
    display: none;
  }
  .brands-wrapper {
    margin: 5.5rem auto;
  }
}
/* ======== End brands animation area =========== */

/* =========== Start welcome area ========== */
.welcome-area {
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.welcome-area .welcome-card {
  position: relative;
  width: 65%;
  height: 100%;
}

.welcome-area .welcome-card img:nth-child(1) {
  position: absolute;
  top: 70px;
  left: 0;
  z-index: 99;
  width: 50%;
}

.welcome-area .welcome-card img:nth-child(2) {
  position: absolute;
  top: 150px;
  right: 55px;
  z-index: 999;
  height: 50%;
}

.welcome-area .welcome-card img:nth-child(3) {
  position: absolute;
  bottom: 25px;
  left: 150px;
  z-index: 999;
  width: 40%;
}

.general-desc {
  width: 35%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.general-desc h3 {
  width: 100%;
  font-size: 2rem;
  color: var(--lightblue01);
  font-weight: 500;
  margin-top: 1.5rem;
}

.general-desc h2 {
  width: 100;
  font-size: 3.5rem;
  color: black;
  font-weight: 600;
  margin-top: 1.5rem;
}

.general-desc p {
  width: 100%;
  color: #747474;
  line-height: 1.5;
  font-weight: 300;
  font-size: 1.25rem;
  margin-top: 1.5rem;
}

@media (max-width: 991px) {
  .welcome-area {
    height: 130vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .welcome-area .welcome-card {
    width: 100%;
    height: 60%;
    order: 2;
  }

  .welcome-area .general-desc {
    width: 100%;
    height: 30%;
  }

  .general-desc h3 {
    width: 100%;
    text-align: center;
  }

  .general-desc h2 {
    margin-top: 2rem;
    width: 100%;
    text-align: center;
    font-size: 3.5rem;
  }
  .general-desc p {
    margin-top: 2rem;
    text-align: center;
    width: 100%;
  }

  .welcome-area .welcome-card img:nth-child(1) {
    position: absolute;
    top: 0px;
    left: 0;
    z-index: 99;
    width: 60%;
  }

  .welcome-area .welcome-card img:nth-child(2) {
    position: absolute;
    top: 260px;
    right: 0px;
    z-index: 999;
    height: 45%;
  }

  .welcome-area .welcome-card img:nth-child(3) {
    position: absolute;
    bottom: 0px;
    left: 150px;
    z-index: 999;
    width: 40%;
  }
}

@media (max-width: 575px) {
  .container {
    width: 90%;
  }

  .general-desc {
    width: 100%;
    height: 50%;
  }

  .welcome-area .welcome-card {
    width: 100%;
    height: 65%;
  }

  .general-desc h3 {
    font-size: 1.5rem;
  }

  .general-desc h2 {
    margin-top: 2rem;
    font-size: 2rem;
  }
  .general-desc p {
    font-size: 1rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
  }

  .welcome-area .welcome-card img:nth-child(1) {
    top: 0px;
    left: 0;
    width: 60%;
  }

  .welcome-area .welcome-card img:nth-child(2) {
    top: 150px;
    right: 0;
    height: 43%;
  }

  .welcome-area .welcome-card img:nth-child(3) {
    bottom: 20px;
    left: 55px;
    width: 60%;
  }
}

/* =========== End welcome area =========== */

/* =========== Start what we do area ======== */

.whatwedo-area {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 6rem;
  margin-bottom: 7rem;
}

.whatwedo-desc {
  width: 45%;
  height: 40%;
}

.whatwedo-img {
  width: 45%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.whatwedo-img img {
  width: 100%;
}

@media (max-width: 991px) {
  .whatwedo-area {
    height: 140vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-bottom: 3rem;
  }

  .whatwedo-img {
    width: 100%;
    height: 60%;
    margin-top: 2rem;
  }

  .general-desc {
    width: 95%;
  }

  .general-desc h3 {
    width: 100%;
    text-align: center;
  }

  .general-desc h2 {
    margin-top: 2rem;
    width: 100%;
    text-align: center;
    font-size: 3.5rem;
  }
  .general-desc p {
    margin-top: 2rem;
    text-align: center;
    width: 95%;
  }
}

@media (max-width: 575px) {
  .general-desc {
    width: 100%;
    height: 50%;
    margin-bottom: 3rem;
  }

  .welcome-area .welcome-card {
    width: 100%;
    height: 65%;
  }

  .general-desc h3 {
    font-size: 1.5rem;
  }

  .general-desc h2 {
    margin-top: 1.5rem;
    font-size: 2rem;
  }
  .general-desc p {
    font-size: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}

/* =========== End what we do area ======== */

/* =========== Start promises area ========= */
.promises-area {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 110vh;
}

.promises-desc {
  height: 25%;
  width: 100%;
}
.promises-desc h3 {
  margin: auto;
  font-size: 2rem;
  color: var(--lightblue01);
  font-weight: 500;
  margin-top: 1.5rem;
}

.promises-desc h2 {
  margin: auto;
  font-size: 3.5rem;
  color: black;
  font-weight: 600;
  margin-top: 1.5rem;
}

.promises-cards {
  height: 70%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.promises-cards .card {
  width: 31%;
  height: 85%;
  padding: 35px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  background-color: var(--lightblue04);
}

.promises-cards .card h3 {
  width: 45px;
  height: 45px;
  line-height: 45px;
  border-radius: 12px;
  font-size: 1.5rem;
  color: white;
  font-weight: 600;
  background-color: var(--lightblue01);
  text-align: center;
}

.promises-cards .card h4 {
  font-size: 1.5rem;
  color: black;
  font-weight: 600;
}

.promises-cards .card p {
  width: 85%;
  color: #747474;
  line-height: 1.2;
  font-weight: 300;
  font-size: 1.125rem;
}

@media (max-width: 991px) {
  .promises-area {
    height: auto;
  }

  .promises-cards {
    flex-wrap: wrap;
    height: 100%;
  }

  .promises-cards .card {
    width: 100%;

    margin-bottom: 1.5rem;
  }

  .promises-cards .card p {
    height: 160px;
  }
  .promises-cards .card h4 {
    color: black;
  }

  .promises-desc h3 {
    text-align: center;
    margin-bottom: 1rem;
  }

  .promises-desc h2 {
    text-align: center;
    margin-bottom: 2rem;
  }
}

@media (max-width: 575px) {
  .promises-desc h3 {
    text-align: center;
    font-size: 1.7rem;
  }

  .promises-desc h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 3rem;
  }

  .promises-cards .card {
    height: 400px;
    padding: 25px;
    margin-bottom: 3rem;
  }

  .promises-cards .card p {
    width: 100%;
  }
}

/* =========== End promises area ========= */

/* =========== start get the app area ========= */
.gettheapp-area {
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.gettheapp-img {
  width: 45%;
  height: 85%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.gettheapp-img img {
  width: 80%;
}

.gettheapp-desc {
  width: 45%;
  height: 55%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.gettheapp-desc p {
  width: 80%;
  margin-bottom: 2rem;
}

.gettheapp-btn a {
  padding: 0.85rem 2.5rem;
  background-color: black;
}

@media (max-width: 991px) {
  .gettheapp-area {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .gettheapp-desc {
    height: 35%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .gettheapp-img {
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    order: 2;
    margin-bottom: 5rem;
  }

  .gettheapp-img img {
    width: 60%;
  }
}

@media (max-width: 575px) {
  .gettheapp-area {
    height: 110vh;
  }
  .gettheapp-desc {
    height: 45%;
  }

  .gettheapp-img img {
    width: 70%;
  }

  .gettheapp-img {
    margin-bottom: 0rem;
  }
}

/* =========== End get the app area ========= */

/* ========== start the footer area =========  */
.footer-area {
  height: 75vh;
  background-image: url(../img/clouds.jpeg);
  margin-top: 3rem;
  background-size: cover;
  background-repeat: no-repeat;
}

.footer-area .h-f-container {
  padding: 0;
}

.footer-wrapper {
  height: 80%;
  z-index: 9999;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-app {
  height: 55%;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.footer-app .footer-logo h3 {
  font-size: 2.3rem;
  color: white;
  font-weight: 600;
}

.footer-app .footer-btn a {
  margin-top: 3rem;
  color: black;
  background-color: white;
  padding: 0.75rem 2.5rem;
  font-weight: 500;
  font-size: 1.25rem;
}

.footer-app p {
  font-size: 1.125rem;
  font-weight: 300;
  color: white;
  width: 75%;
}

.footer-company {
  height: 55%;
  width: 18%;
}

.footer-ul h3 {
  font-size: 1.25rem;
  font-weight: 600;
  color: white;
  margin-bottom: 1.5rem;
}

.footer-ul li,
.footer-ul a {
  font-size: 1.125rem;
  font-weight: 300;
  color: white;
  margin-bottom: 1.5rem;
}

.footer-beyond {
  height: 55%;
  width: 18%;
}

.footer-social-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 20%;
}

.footer-social-wrapper h4 {
  font-size: 0.8rem;
  color: white;
  font-weight: 300;
}

.footer-social {
  width: 10%;
  height: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-social i {
  color: white;
  font-size: 1.25rem;
  transform: scale(1);
  transition: all 0.2s ease-in;
}

.footer-social i:hover {
  transform: scale(1.3);
}

@media (max-width: 991px) {
  .footer-area {
    height: 80vh;
  }
  .footer-wrapper {
    flex-wrap: wrap;
  }

  .footer-app {
    height: 28%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }
  .footer-app p {
    width: 90%;
  }

  .footer-company {
    height: 45%;
    width: 45%;
  }

  .footer-beyond {
    height: 45%;
    width: 45%;
  }

  .footer-social-wrapper {
    flex-direction: column;
    width: 80%;
  }

  .footer-social {
    width: 70%;
    margin-bottom: 1.5rem;
  }

  .footer-social-wrapper h4 {
    order: 2;
    text-align: center;
    width: 75%;
  }

  .footer-social-wrapper {
    height: 10%;
  }
}

@media (max-width: 575px) {
  .footer-area {
    height: 150vh;
  }

  .footer-wrapper {
    flex-wrap: nowrap;
    flex-direction: column;
  }

  .footer-app {
    height: 30%;
    text-align: center;
    align-items: center;
    margin-bottom: 3rem;
  }

  .footer-company {
    text-align: center;
    margin-bottom: 3rem;
    width: 80%;
    height: 30%;
  }

  .footer-beyond {
    text-align: center;
    margin-bottom: 3rem;
    width: 80%;
    height: 30%;
  }
}

/* ========== End the footer area =========  */
